name: Autograding Tests
on: [push, repository_dispatch]
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Debug list files
      run: |
        echo "Files in repo:"
        ls -la
        echo "Python files:"
        find . -name "*.py" -maxdepth 4 -print
    - name: tests
      id: tests
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        setup-command: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; else pip install pytest; fi
          echo "Setup complete"
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TESTS_RESULTS: "${{steps.tests.outputs.result}}"
      with:
        runners: tests
